html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Jura', sans-serif !important;
}
hr {
  border-width: 5px;
  width: 12%;
}
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background: url(../img/bg2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 72px;
    font-weight: 200px;
}
.header a {
	background-color: white;
	border-radius: 20px;
}
.header a:hover {
	text-decoration: none;
	color: black;
	transition: 0.750s;
}
/*.about {
  padding: 30px 0;
  background-color: #006797;
}*/
.work {
	padding: 30px 0 2% 0;
	background-color: #25282e;
  color: #ffffff;
}
.content {
  padding-top: 2%;
}
.portfolio {
  height: 350px;
  width: 350px;
  overflow: hidden;
}
.portfolio-img {
  height: 350px;
  width: 350px;
  background-size: cover;
  background-position: center;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.portfolio-img:hover{
  overflow:hidden;
  transform: scale(1.2);
  opacity: 0.5;
}
.skills {
  padding: 30px 0;
}
.skills-box {
  max-width: 400px;
  padding-top: 4%;
}
.skills-box h3 {
  font-weight: 700;
}
.about {
  padding: 30px 0;
  max-width: 400px;
}
.about h1 {
  display: block;
  text-align: center;
}
.about p {
  font-size: 20px;
  font-weight: 300;
}
.contact {
  height: 150px;
	padding: 30px 0 0 0;
  display: block;
  text-align: center;
  background-color: #25282e /*#006797*/;
  color: #ffffff;
}
.contact h2 {
  font-weight: 700;
  text-transform: uppercase;
}
.contact p {
  font-weight: 300;
  font-size: 22px;
}
.contact a {
  color: #ffffff;
  font-size: 22px;
}
.contact a:hover {
  text-decoration: none;
  color: white;
  transition: all 1s ease-in-out;
}
.footer {
  background-color: #000000;
  padding: 15px 0 15px 0;
  color: #ffffff;
  text-align: center;
}
.footer small {
  font-weight: 400;
  font-size: 15px;
}
.portfolio-modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #d3d3d3;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
.close2 {
    color: #d3d3d3d3;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
.close3 {
    color: #d3d3d3d3;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: #000000;
    text-align: center;
}

.modal-body {
  padding: 2px 16px;
}
.modal-img {
  width: 900px;
  height: 650px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
/*@-webkit-keyframes switch {
    0% {background-image: url('https://via.placeholder.com/350x350');}
    20% {background-image: url('http://placeskull.com/350/350/052099/01');}
    40% {background-image: url('http://placeskull.com/350/350/EE5050/07');}
    60% {background-image: url('http://placeskull.com/350/350/ffff00/19');}
    80% {background-image: url('http://placeskull.com/350/350/001245/44');}
    100% {background-image: url('http://placeskull.com/350/350/158409/13');}
}*/
