body{
  background: #ebebeb;
}

.row{
  margin: 0 auto;
  width: 80%;

}

.leftcolumn {

  width: 60%;


}

/* Right column */
.rightcolumn {
  width: 20%;


}



/* Add a card effect for articles */
.card {
  background-color: white;
  margin-top: 20px;
  border: none;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.title, .description{
  padding: 15px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;


  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.cp{
  padding: 15px;
  width: 20%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  background-color: #ebebeb;
}

#apost:hover {
  transform: scale(1.02);
}
