body{
  background: #ebebeb;
}

.row{
  margin: 0 auto;

  width: 80%;
}
/* Header/Blog Title */
.header {
  padding: 15px;
  font-size: 40px;
  text-align: center;
  background: #ebebeb;
  margin-top: 2%;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  margin: 0 auto;
  width: 45%;
}

/* Right column */
.rightcolumn {
  width: 25%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
}

/* Add a card effect for articles */
.card {
  background-color: white;

  margin-top: 20px;
}

.row{
  padding: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.title, .description{
  padding: 15px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;


  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.cp{
  width: 20%;
}

.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-y: hidden; /* Disable horizontal scroll */
  padding-top: 60px;/* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar-img {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidepanel-header {
  margin-top: 30px !important;
  text-align: center;
  color: white;
}
.sidepanel-header > .sidepanel-borderbottom {
  width: 100%;
  border-bottom: 2px solid white;
  margin: 0 auto;
}

.sidepanel-header h4 {
  margin-top: 20px !important;
  padding-bottom: 10px;
}
.sidepanel-body {
  margin-left: auto;
  margin-right: auto;
}
.sidepanel-body a {
  text-decoration: none;
  text-align: center;
}
.sidepanel-body li {
  list-style-type: none;
  float: left;
  text-align: center;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


.subfooter {
	border-top:solid 1px #333;
    margin: 40px 0 -40px 0;
    background: #000;
    padding: 20px 0 20px 0;
    font-size: 12px;

}

.subfooter a {
    color: #646464 !important;
}

.subfooter small {
  font-weight: 400;
  font-size: 15px;
  color: white;
}
.subfooter small a {
  text-decoration: none;
  color: white !important;
}

.subfooter small a:hover {
  color: white !important;
  text-decoration: underline !important;
}
