body{
  background: #ebebeb;
}

.row{
  margin: 0 auto;
  width: 70%;

}

.leftcolumn {
  margin: 0 auto;
  width: 47%;

}

/* Right column */
.rightcolumn {
  width: 26%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.title, .description{
  padding: 15px;
}

.pre-navbar {
  background-color: #007bff;
  height: 40px;
}
.pre-navbar a {
  margin-top: 2.5px;
  color: #ffffff;
  font-size: 15px;
}
.pre-navbar a:hover {
  color: #fff;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.subfooter {
	border-top:solid 1px #333;
    margin: 40px 0 -40px 0;
    background: #000;
    padding: 20px 0 20px 0;
    font-size: 12px;

}

.subfooter a {
    color: #646464 !important;
}

.subfooter small {
  font-weight: 400;
  font-size: 15px;
  color: white;
}
.subfooter small a {
  text-decoration: none;
  color: white !important;
}

.subfooter small a:hover {
  color: white !important;
  text-decoration: underline !important;
}

/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-y: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidepanel-header {
  margin-top: 30px !important;
  text-align: center;
  color: white;
}
.sidepanel-header > .sidepanel-borderbottom {
  width: 100%;
  border-bottom: 2px solid white;
  margin: 0 auto;
}

.sidepanel-header h4 {
  margin-top: 20px !important;
  padding-bottom: 10px;
}
.sidepanel-body {
  margin-left: auto;
  margin-right: auto;
}
.sidepanel-body a {
  text-decoration: none;
  text-align: center;
}
.sidepanel-body li {
  list-style-type: none;
  float: left;
  text-align: center;
}


.nav-link {
  color: #007bff !important;
}


/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.item {
  height: 100% !important;
  width:  100% !important;
}

.team {
  padding-bottom: 2%;
}

.team-box {
  height: 350px;
  width: 270px;
  border: 1px solid lightgray;
  margin-top: 20px;
  text-align: center;
  background-color: white;
}

.team-img {
  position: relative;
}

.team-info h2 {
  padding-top: 5px;
  font-size: 22px;
}

.team hr {
  border: solid #333333;
  border-width: 2px;
  width: 12% !important;
}

.team-info a {
  color: #007bff;
}

.team-info a:hover {
  transition: .5s;
  color: #007bff;
  text-decoration: none;
}

.team-socialmedia {
  color: #9a9898;
  font-size: 15px;
}
